@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 25s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}
/* ========================= */
/*      LUXURY COUNTER       */
/* ========================= */

.stat-card{
    transition:.35s;
}

.stat-card:hover{
    transform:translateY(-8px);
    box-shadow:
      0 0 40px rgba(255,255,255,.08);
}